/* * {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

.banner {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.banner .slider {
    position: absolute;
    height: 250px;
    width: 200px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}
    
.banner .slider .items {
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) 
        translateZ(550px);
}

.banner .slider .items img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}